<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mmmmm Good Burger</title>

    {{!-- css style sheets --}}
    <link rel="stylesheet" href="../public/assets/burger_style.css" type="text/css" />

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- javascript reference --}}
    <script src="../models/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>

</html>