{{!-- this index file will be fed into main.handlebars --}}

<div class="container-fluid" id="mainContainer">
    {{!--         --}}
    {{!-- TOP ROW --}}
    {{!--         --}}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center titleBar">
            <h1>Mmm Good Burger</h1>
            <hr>
        </div>
        <div class="col-md-4"></div>
    </div>

    {{!--              --}}
    {{!-- MAIN APP ROW --}}
    {{!--              --}}
    <div class="row">

        {{!--             --}}
        {{!-- left column --}}
        {{!--             --}}
        <div class="col-md-4 text-center leftColumn">
            <h1>Menu</h1>

            {{!-- draw burgers from DB --}}
            {{!-- the additional custom html elments are in another file --}}
            <ul>
                {{!-- DB table name --}}
                {{#each burgers}}

                {{!-- filtering table column --}}
                {{#unless devoured}}
                {{> burgers/burgerToDevour devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        {{!--               --}}
        {{!-- middle column --}}
        {{!--               --}}
        <div class="col-md-4 middleColumn">
            <form class="create-form">
                <div class="form-group">
                    <input type="text" id="ca" name="name">
                    <label for="ca">Enter a burger you want to eat</label>
                    <label for="ca">click the Submit button</label>
                </div>
                <button type="submit">Submit</button>
            </form>

            {{!-- relative paths assume direct from public folder! --}}
            <img class="text-center" src="assets/img/explodedBurger.png" alt="">
        </div>

        {{!--              --}}
        {{!-- right column --}}
        {{!--              --}}
        <div class="col-md-4 text-center leftColumn">
            <h1>Eaten</h1>

            {{!-- draw devoured results from DB --}}
            <ul>
                {{!-- DB table name --}}
                {{#each burgers}}

                {{!-- filtering table column --}}
                {{#if devoured}}

                {{!-- views/partials/burgers/burger-block.handlebars --}}
                {{> burgers/burgerDevoured devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    {{!--            --}}
    {{!-- BOTTOM ROW --}}
    {{!--            --}}
    <div class="row">
        <div class="col-md-12 bottomBar"></div>
    </div>
</div>